<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Notebook

# Introduction
Welcome to this Data Science notebook! In this notebook, we will explore various concepts and examples related to data science.

## Data Science Languages
- Python
- R
- SQL

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn

## Data Science Tools

| Tool             | Purpose                             |
|------------------|-------------------------------------|
| Jupyter Notebook | Interactive computing              |
| RStudio          | Integrated development environment |
| Tableau          | Data visualization                 |
| TensorFlow       | Machine learning framework          |

## Arithmetic Expression Examples
Let's explore some examples of arithmetic expressions in the following cells.

In [1]:
# Multiply and add numbers
result = (5 * 3) + (10 * 2)
print("Result:", result)

Result: 35

In [2]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
print("Hours:", hours)

Hours: 2.5

## Objectives
- Explore data science languages and libraries
- Understand basic arithmetic expressions
- Perform simple calculations and conversions

## Author
This notebook was created by Peter OKOLIE.